<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
       bean-discovery-mode="all">
       <!-- This is where you can specify the alternatives. Find an example below.-->
        
       <alternatives>
         <class>ch.unige.pinfo.bakery.baker.GermanBaker</class>
       	 <class>ch.unige.pinfo.bakery.oven.GoodOven</class>
       </alternatives>
       
       
       
       <interceptors>
	    <class>ch.unige.pinfo.bakery.intercept.LoggingInterceptor</class>
	  </interceptors>
	  
</beans>
